/* ------------- Fonts ---------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  background-color: #6884d3;
  position: relative;
}

/* ------------- Landing Page ---------------*/
.home-page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-top: 10rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.front-display-text {
  position: absolute;
  color: whitesmoke;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.primary-header {
  font-size: 8rem;
  color: rgb(13, 13, 49);
}

.front-page-buttons {
  display: flex;
  justify-content: center;
}

button {
  height: 5rem;
  width: 15rem;
  font-size: 8rem;
}


/* ------------- All Topics Page ---------------*/

.all-topics-start {
  background-color: #e62c2c;
  background-image: linear-gradient(315deg, #d74040 0%, #7e8996 90%);
  padding-top: 75px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;
}

input {
  display: inline-flex;
  height: 2.5rem;
  width: 20rem;
  margin-bottom: 5rem;
}

.btn-search {
  display: inline-flex;
  height: 2.5rem;
  width: 6rem;
  font-size: 1.7rem;
  position: absolute;

}

.all-topics-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: #6884d3;
}

/* ----- Preview ------ */

.topic-card {
  display: flex;
  margin: 2rem;
  /* border-radius: 7px; */
  align-items: center;
  width: 20%;
  height: 20%;
}

.topic-card-textarea {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  height: 21.5%;
  padding: 1rem;
  background-color:rgba(186, 186, 212, 0.762);
  justify-content: center;
  border-radius: 0 0 5px 5px;
}

.topic-card-name {
  font-family: "Roboto";
  font-size: 1.1em;
  font-weight: 500;
  text-overflow: ellipsis;
}

.hover-links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hover:hover {
  cursor: pointer;
}

/* ------------- Single Topic ---------------*/
.single-topic-img {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 2px;
}

.single-topic-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-right: 10rem;
  align-content: center;
}

.topic-link {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  color: inherit;
  text-decoration: underline;
}

.single-topic-img-container {
  height: fit-content;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

.single-topic-description {
  margin-top: 25px;
  font-family: 'Roboto';
  font-size: 1.5rem;
  align-self: flex-end;
}

.single-topic-container {
  display: flex;
  margin-top: 75px;
}

.topic-preview {
  margin: 25px;
}

.btn-delete {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: red;
  font-size: 2rem;
  font-weight: 600;
}
